################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/nameTags2/FileContentIndex/0173f30a-e592-4e9f-b018-f8630b8524bc.vsidx
/.vs
